form {
    display: inline-block;
    width: 100%;
}
    .form-row{
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }
        .form-row:last-of-type {
            margin-bottom: 0;
        }    
        label {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: gray;
            font-size: 14px;
            line-height: 20px;
        }
        input {
            display: inline-block;
            width: 100%;
            border: none;
            border-bottom: 2px solid grey;
            color: #333;
            font-size: 18px;
            line-height: 30px;

        }
